html, body {
  margin: 0;
  width: 100%;
}

.inputs, .outputs, .channels {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
  width: 100%;
}
.channels {
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}
.channel {
  display: flex;
  position: relative;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  height: 100vh;
  min-width: 220px;
  box-sizing: border-box;
}
.channel:nth-of-type(4n) {
  background-color: rgb(190, 45, 69);
}
.channel:nth-of-type(4n + 1) {
  background-color: rgb(84, 38, 55);
}
.channel:nth-of-type(4n + 2) {
  background-color: rgb(235, 208, 125);
}
.channel:nth-of-type(4n + 3) {
  background-color: rgb(216, 92, 72);
}
.channel.unconnected {
  background-color: rgb(205, 205, 165);
  border-right: 3px solid rgb(103, 103, 83);
  border-top: transparent;
}

.inputs, .outputs {
  justify-content: center;
  height: auto;
  flex: 0 0 auto;
}
.inputs { 
  align-items: flex-end;
}
.channel.unconnected {
  padding: 1rem 3rem;
}
.unconnected .input:first-of-type::before {
  font-family: 'icomoon';
  content: '\e901';
  color: rgb(103, 103, 83);
  align-self: center;
  position: absolute;
  left: -2.8rem;
}
.unconnected .output:first-of-type::before {
  font-family: 'icomoon';
  content: '\e900';
  color: rgb(103, 103, 83);
  align-self: center;
  position: absolute;
  left: -2.8rem;
}
.channel h1 {
  font-family: monospace;
  color: rgb(103, 103, 83);
  text-align: center;
  margin: 0;
  padding: 0;
}

.input, .output {
  position: relative;
  flex: 0 1 auto;
  min-height: 39px;
  min-width: 117px;
  height: 39px;
  width: 117px;
  background-color: rgb(195, 165, 48);
  margin: 8px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 3px 3px 0 rgb(100, 80, 24);
  cursor: pointer;
  text-align: center;
  
  font-size: 1.7rem;
}
.input::after {
  content: '+';
  color: rgb(100, 80, 24);
  background-color: rgb(195, 165, 48);
  font-family: monospace;
  font-size: 2rem;
  padding: 0rem 0.6rem 0.2rem 0.6rem;
  
  border-top-right-radius: 6px;
  
  position: absolute;
  right: 0; top: 0;
}
.input:hover::after, .input.selected::after {
  background-color: rgb(100, 80, 24);
  color: rgb(195, 165, 48);
}
.input.selected::after {
  color: white;
}
.output {
  background-color: rgb(86, 120, 123);
  box-shadow: 3px 3px 0 rgb(33, 45, 64);
}
.output::after {
  content: 'x';
  color: rgb(33, 45, 64);
  background-color: rgb(86, 120, 123);
  font-family: monospace;
  font-size: 2rem;
  padding: 0rem 0.6rem 0.4rem 0.6rem;
  
  border-top-right-radius: 6px;
  
  position: absolute;
  right: 0; top: 0;
}
.output:hover::after {
  color: rgb(86, 120, 123);
  background-color: rgb(33, 45, 64);
  display: block;
}
.unconnected .output::after {
  display:none;
}

.selected {
  background-color: white;
  color: rgb(100, 80, 24);
}

.connection {
  width: 10px;
  height: 60vh;
  position: relative;
  top: 150px;
  left: 48px;
  
  background-color: #777;
}
.connection::after {
  content: ' ';
  
  position: absolute;
  top: -8px;
  left: -15px;
  
  border: 20px solid #777;
  border-top: none;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
}