html, body {
  margin: 0;
  width: 100%;
}

.inputs, .outputs, .channels {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
  width: 100%;
}
.channels {
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}
.channel {
  display: flex;
  position: relative;
  flex: 1 1 auto;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding: 1rem;
  height: 100vh;
  box-sizing: border-box;
}
.channel:nth-of-type(4n) {
  background-color: #67a5ef;
}
.channel:nth-of-type(4n + 1) {
  background-color: #ef67a5;
}
.channel:nth-of-type(4n + 2) {
  background-color: #a5ef67;
}
.channel:nth-of-type(4n + 3) {
  background-color: #efa567;
}
.channel.unconnected {
  background-color: #aaa;
}

.inputs, .outputs {
  height: auto;
  justify-content: center;
  min-height: 30px;
}

.input, .output {
  position: relative;
  flex: 0 1 auto;
  min-height: 52px;
  min-width: 52px;
  background-color: #34ab5f;
  margin: 0 8px;
  margin-bottom: -8px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 3px 3px 0 #238834;
  cursor: pointer;
}
.output {
  background-color: #345fab;
  box-shadow: 3px 3px 0 #233488;
  margin-top: -8px;
}
.output::after {
  content: 'x';
  color: #234e9a;
  background-color: #345fab;
  font-family: monospace;
  font-size: 2rem;
  padding: 0rem 0.6rem 0.4rem 0.6rem;
  
  border-top-right-radius: 6px;
  
  position: absolute;
  right: 0; top: 0;
}
.output:hover::after {
  color: #345fab;
  background-color: #234e9a;
}
.unconnected .output::after {
  display:none;
}

.selected {
  background-color: white;
  color: #34ab5f;
}

.connection {
  width: 10px;
  height: 60vh;
  position: relative;
  top: 150px;
  left: 48px;
  
  background-color: #777;
}
.connection::after {
  content: ' ';
  
  position: absolute;
  top: -8px;
  left: -15px;
  
  border: 20px solid #777;
  border-top: none;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
}