@font-face {
  font-family: 'Phenomena';
  src: local('Phenomena'), local('Phenomena-Regular'), 
    url(./phenomena/Phenomena-Regular.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Phenomena-ExtraLight';
  src: local('Phenomena'), local('Phenomena-ExtraLight'),
    url(./phenomena/Phenomena-ExtraLight.otf) format('opentype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:  url('icomoon/icomoon.eot?wvbw92');
  src:  url('icomoon/icomoon.eot?wvbw92#iefix') format('embedded-opentype'),
    url('icomoon/icomoon.ttf?wvbw92') format('truetype'),
    url('icomoon/icomoon.woff?wvbw92') format('woff'),
    url('icomoon/icomoon.svg?wvbw92#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Phenomena, sans-serif;
  font-size: 2.3rem;
  color: white;
}
